<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'appointment/style.css' %}">
    <title>Appointment</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <h1>Welcome!</h1>
    <h3>Register</h3>
    <form action="register" method="post">
        {% csrf_token %}
        Name:<input type='text' name='name'>
        Email:<input type='text' name='email'>
        Password:<input type='password' name='password'>
        Confirm Password:<input type='password' name='confirmed_psw'>
        Birthday:<input type="date" name="dob">
        <input type='Submit' value='Register'>
    </form>
    <h3>Log in</h3>
    <form action='login' method="post">
        {% csrf_token %}
        Email:<input type='text' name='user'>
        password:<input type='password' name='psw'>
        <input type='Submit' value='Log in'>
    </form>

</body>
</html>